---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=<STORE_KEY>&format=json&pageSize=16&show=longName,storeType,city,distance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":16,"currentPage":1,"total":16,"totalPages":1,"queryTime":"0.014","totalTime":"0.027","partial":false,"canonicalUrl":"/v1/stores(area(\"80202\",25))?show=longName,storeType,city,distance&pageSize=16&format=json&apiKey=<STORE_KEY>","stores":[{"longName":"BEST
        BUY MOBILE - CHERRY CREEK SHOPPING CENTER","storeType":"Mobile SAS","city":"DENVER","distance":3.45},{"longName":"BEST
        BUY - BELMAR","storeType":"Big Box","city":"LAKEWOOD","distance":5.31},{"longName":"BEST
        BUY - COLORADO BLVD","storeType":"Big Box","city":"DENVER","distance":5.59},{"longName":"BEST
        BUY - DENVER WEST","storeType":"Big Box","city":"LAKEWOOD","distance":8.39},{"longName":"BEST
        BUY - WESTMINSTER","storeType":"Big Box","city":"WESTMINSTER","distance":8.52},{"longName":"BEST
        BUY - NORTHGLENN","storeType":"Big Box","city":"DENVER","dista[...]
